
					<argument name="$ARGUMENT_NAME" type="$ARGUMENT_TYPE">
						<description>$ARGUMENT_DESCRIPTION</description>
						<example>$ARGUMENT_EXAMPLE</example>
						<default>$ARGUMENT_DEFAULT</default>
					</argument>

