
          <table name="$TABLE_NAME">
            <title>$TABLE_TITLE</title>
            <header>
$TABLE_HEADER_ITEMS            </header>
            <rows>
$TABLE_ROWS            </rows>
          </table>
