Source: libtestability-driver-ruby
Section: libs
Priority: optional
Maintainer: Testability Driver Team <testabilitydriver@nokia.com>
Build-Depends: cdbs, debhelper (>> 5.0.0), ruby-pkg-tools, ruby1.8, ruby1.8-dev
Standards-Version: 3.8.0

Package: testability-driver
Architecture: all
Depends: libtestability-driver-ruby1.8 (>= ${source:Version}), libtestability-driver-ruby-config, qttas (>= ${source:Version})
Description: Testability Driver Testing framework for Maemo environment
 .
 This is a metapackage that should fetch all the required depencies
 and sets up the local testing environment.


Package: libtestability-driver-ruby1.8
Architecture: all
Depends: ruby1.8, rubygems1.8, libtestability-driver-ruby-config-default (>= ${source:Version}), libhoe-ruby1.8, liblog4r-ruby1.8, libnokogiri-ruby1.8, librubyforge-ruby1.8, librake-ruby1.8, libbuilder-ruby1.8
Description: Testability Driver Testing framework for Maemo environment

Package: libtestability-driver-ruby-config-default
Architecture: all
Depends: libtestability-driver-ruby-sut-qt
Provides: libtestability-driver-ruby-config
Description: Default configuration files
 Default configurations files for testing on same device
