
      <method name="$METHOD_NAME">

        <description>$METHOD_DESCRIPTION</description>
        
        <arguments>
        $METHOD_ARGUMENTS
        </arguments>

        <returns>
        $METHOD_RETURNS
        </returns>

        <exceptions>
        $METHOD_EXCEPTIONS
        </exceptions>
                
        <info>
        $METHOD_INFO
        </info>

      </method>
