
          <argument name="$ARGUMENT_NAME" optional="$ARGUMENT_OPTIONAL">

            <types>
              $ARGUMENT_TYPES
            </types>

            <default>$ARGUMENT_DEFAULT_VALUE</default>
          </argument>
